/* ハンバーガーメニューの基本スタイル */
#menu-toggle {
    display: none;
}

.hamburger-menu {
    position: relative;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 40px;
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 2;
}

.navicon {
    background-color: black;
    height: 2px;
    /* 線の太さを2pxに */
    width: 100%;
    display: block;
    position: relative;
    transition: background 0s ease-out 0.2s;
}

.navicon:before,
.navicon:after {
    content: '';
    background-color: black;
    height: 2px;
    /* 線の太さを2pxに */
    width: 100%;
    display: block;
    position: absolute;
    transition: transform 0.2s ease-out;
}

.navicon:before {
    top: 11px;
    /* 線間の間隔を11pxに */
}

.navicon:after {
    bottom: 11px;
    /* 線間の間隔を11pxに */
}

.menu-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.menu-overlay ul li {
    margin: 20px 0;
}

.menu-overlay ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* チェックボックスによるメニューの表示制御 */
#menu-toggle:checked+.menu-icon+.menu-overlay {
    display: block;
}

/* デスクトップ画面でのハンバーガーメニュー非表示 */
@media (min-width: 1025px) {
    .hamburger-menu {
        display: none;
    }
}

/* 閉じるボタンのスタイル */
.close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* メニューを閉じる際の動作 */
.menu-overlay ul li a,
.close-btn {
    transition: opacity 0.3s;
}

#menu-toggle:checked+.menu-icon+.menu-overlay .close-btn,
#menu-toggle:checked+.menu-icon+.menu-overlay ul li a {
    opacity: 1;
}

/* チェックボックスがチェックされた時のスタイル */
#menu-toggle:checked+.menu-icon .navicon {
    background: transparent;
    /* 中央の線を透明に */
}

#menu-toggle:checked+.menu-icon .navicon:before {
    transform: translateY(11px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon .navicon:after {
    transform: translateY(-11px) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 横向排列菜单项 */
.menu ul li {
    display: inline-block;
    margin-right: 20px;
    /* 为每个菜单项之间添加间距 */
}