body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    top: 0;
    transition: all 1000ms ease;
    touch-action: none;
}

.section {
    display: flex;
    color: #DEDEDE;
    width: 100vw;
    height: 100vh;
}

.section-01 {
    /* background-color: #188FA7; */
    width: 100vw;
    height: 100vh;
}

.section-02 {
    background-color: #FFFFFF;
}

.section-03 {
    background-color: #9DBBAE;
}

.section-04 {
    background-color: #188FA7;
}

.section-05 {
    background-color: #769FB6;
}

.section-06 {
    background-color: #9DBBAE;
}

.section-07 {
    background-color: #188FA7;
}

.fade-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DEDEDE;
    opacity: 1;
    transition: opacity 1.75s ease-in-out;
}

.fade-in.active {
    opacity: 0;
}

@media screen and (min-width : 1025px) {
    .main-container {
        position: relative;
        display: flex;
        width: 80vw;
        height: 70vh;
        margin: 0 auto;
        margin-top: 30vh;
        z-index: 10;
    }

    .title {
        position: relative;
        width: 55vw;
    }

    .title image {
        width: 100%;
    }

    .main-visual {
        position: relative;
        width: 70%;
        margin-top: -10vh;
        margin-left: 7vw;
    }

    .date {
        position: absolute;
        color: #000;
        font-size: 32px;
        left: 10vw;
        bottom: 20vh;
    }
}

@media screen and (max-width : 1024px) {
    .main-container {
        width: 75%;
        margin: 0 auto;
        margin-top: 62.5vh;
        z-index: 10;
    }

    .title {
        width: 100%;
        height: 100%;
    }

    .title image {
        width: 100%;
    }

    .main-visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -72.5%);
        width: 80vw;
        height: 80vw;
    }

    .menu {
        opacity: 0;
    }

    .date {
        position: absolute;
        color: #000;
        font-size: 26px;
        left: 12.5vw;
        bottom: 10vh;
    }
}