body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  top: 0;
  transition: all 1000ms ease;
  touch-action: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.section-01 {
  background-color: #188FA7;
}

.section-02 {
  background-color: #769FB6;
}

.section-03 {
  background-color: #9DBBAE;
}

.section-04 {
  background-color: #188FA7;
}

.section-05 {
  background-color: #769FB6;
}

.section-06 {
  background-color: #9DBBAE;
}

.section-07 {
  background-color: #188FA7;
}


/* font-sizeの設定 */


h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

/* デスクトップ用のスタイル */
@media (min-width: 1920px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 24px;
    }
}
