/*共通CSS-------------------------------------------------------------------------------*/


body {
   margin: 0;
   padding: 0;
}

.container{
    margin: 0;
   padding: 0;
}



/*画像背景*/
.background1 {
    position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */
    padding-left: 2.1875rem; /* 35pxに相当 */
  padding-right: 2.1875rem; /* 35pxに相当 */

    
    background-image: url('../assets/images/grade1.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

/* デスクトップ用のスタイル */
@media (min-width: 844px) {
  .background1 {
    padding-left: 6.75rem; /* 108pxに相当 */
    padding-right: 6.75rem; /* 108pxに相当 */
  }
}

.background2 {
    position: relative;
    width: 100%;
    height: 1080vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/haikei2.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .background2 {
        height: 812vh;
        background-image: url('../assets/images/sumaho-haikei.png'); /* スマートフォン用の背景画像 */
    }
    
}

.footer_img{
 position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/foot.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .footer_img {
        height: 70vh;
         background-size: 100%;
          background-repeat: no-repeat;
        background-image: url('../assets/images/m_foot.png'); /* スマートフォン用の背景画像 */
    }
    
}

.insta{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 1187vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .insta {
        top: 918vh;
        left: 6vh;
        width: 6%;
    }
    
}

.twitter{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 1187vh;
    left: 22vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .twitter {
        top: 918vh;
        left: 10vh;
        width: 6%;
    }
    
}


.mauhp{
    width: 13%;
    position: absolute; /* 位置の指定に必要 */
    top: 1200vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .mauhp {
        top: 925vh;
        left: 6vh;
        width: 33%;
    }
    
}


.dejohp{
    width: 15%;
    position: absolute; /* 位置の指定に必要 */
    top: 1206vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .dejohp {
        top: 928vh;
        left: 6vh;
        width: 38%;
    }
    
}

/*共通終了-------------------------------------------------------------------------------*/




/*タイトル*/
.title_all_works{
    position: relative;
    padding-bottom: 12px;
    padding-top: 13.4375rem;
    margin-left: 4.125rem;
    border-bottom:solid 6px black;
    width: 160px;
}

@media (max-width: 844px) {

   .title_all_works {
     padding-top: 12.375rem;
     margin-left: 0.9375rem;
    }
}

/*検索機能*/
.sort-container{
    position: relative;
    margin-top: 52px;
    width: 100%;
    height: 37.9375rem;
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 844px) {

   .sort-container {
     height: 26.875rem;

    }
}


      















