@font-face {
    font-family: "A-OTFGothicMB101PrR";
    src: url("../assets/fonts/A-OTF-Gothic-MB101-Pro-R.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "A-OTFGothicMB101Pr5B";
    src: url("../assets/fonts/A-OTF-Gothic-MB101-Pr5-B.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "A-OTFGothicMB101Pr5DB";
    src: url("../assets/fonts/A-OTF-Gothic-MB101-Pr5-DB.otf");
    font-weight: normal;
    font-style: normal;
}

/* font-sizeのレスポンシブ設定---------------------------------------------------------- */
/* モバイル---------------------------------------------------------- */
@media screen and (max-width : 1024px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }

    .d_p_sub {
        font-size: 12px;
    }

    .d_p_cap {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        font-weight: 600;
    }
}

/* デスクトップ---------------------------------------------------------- */

@media screen and (min-width : 1025px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 24px;
    }

    .d_p_sub {
        font-size: 20px;
    }

    .btn {
        font-size: 24px;
        font-weight: 600;
    }

    .d_p_cap {
        font-size: 14px;
    }
}

/* font-familyのレスポンシブ設定---------------------------------------------------------- */
/* モバイル---------------------------------------------------------- */
@media screen and (max-width : 1024px) {
    h1 {
        font-family: "A-OTFGothicMB101Pr5DB", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000;
    }

    h2 {
        margin-bottom: 2px;
    }

    p {
        font-size: 12px;
        font-family: "A-OTFGothicMB101ProR", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000;
    }

}

/* デスクトップ---------------------------------------------------------- */

@media screen and (min-width : 1025px) {
    h1 {
        font-family: "A-OTFGothicMB101Pr5DB", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000;
    }

    h2 {
        margin-bottom: 3px;
    }

    p {
        font-size: 18px;
        font-family: "A-OTFGothicMB101ProR", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000;
    }
}

/* AdobeFont */
.dazzle-font {
    font-family: "dazzle-unicase", sans-serif;
    font-style: normal;
    font-weight: 200;
}

.futura-font {
    font-family: "futura-pt-condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.mb101pr6n-font {
    font-family: "a-otf-gothic-mb101-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mb101pror-font {
    font-family: "A-OTFGothicMB101ProR", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mb101pr5b-font {
    font-family: "A-OTFGothicMB101Pr5B", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mb101pr5db-font {
    font-family: "A-OTFGothicMB101Pr5DB", sans-serif;
    font-weight: 300;
    font-style: normal;
}