body {
   margin: 0;
   padding: 0;
}
/* font-sizeのレスポンシブ設定---------------------------------------------------------- */
@media screen and (min-width : 1025px) {

　.d_p_sub {
        font-size: 20px;
    }
}

@media screen and (max-width : 1024px) {
   .d_p_sub {
    font-size: 12px;
 }
}



.background1 {
    position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */

    
    background-image: url('../assets/images/grade1.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

.background2 {
    position: relative;
    width: 100%;
    height: 1080vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/haikei2.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .background2 {
        height: 812vh;
        background-image: url('../assets/images/sumaho-haikei.png'); /* スマートフォン用の背景画像 */
    }
    
}

.footer_img{
 position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/foot.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .footer_img {
        height: 70vh;
         background-size: 100%;
          background-repeat: no-repeat;
        background-image: url('../assets/images/m_foot.png'); /* スマートフォン用の背景画像 */
    }
    
}

.insta{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 1187vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .insta {
        top: 918vh;
        left: 6vh;
        width: 6%;
    }
    
}

.twitter{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 1187vh;
    left: 22vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .twitter {
        top: 918vh;
        left: 10vh;
        width: 6%;
    }
    
}


.mauhp{
    width: 13%;
    position: absolute; /* 位置の指定に必要 */
    top: 1200vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .mauhp {
        top: 925vh;
        left: 6vh;
        width: 33%;
    }
    
}


.dejohp{
    width: 15%;
    position: absolute; /* 位置の指定に必要 */
    top: 1206vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .dejohp {
        top: 928vh;
        left: 6vh;
        width: 38%;
    }
    
}

.title_all_works{
    position: relative;
    padding-bottom: 1px;
    padding-top: 50vh;
    margin-left: 10.5vw;
    border-bottom:solid 6px black;
    width: 400px;
}

@media (max-width: 844px) {

   .title_all_works {
     padding-top: 12.375rem;
     margin-left: 2.550rem;
     width: 200px;
    }
}

.mapall{
    position: absolute;
    width: 50%;
    top: 20vh;
    margin-left: 43vw;
}

@media (max-width: 844px) {

   .mapall {
     width: 80%;
    top: 45vh;
    margin-left: 2.550rem;
    }
}

.black-rectangle {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:16vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle {
     width: 350px;
     height: 35px;
    top: 5vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.f3{
    position: absolute;
    top: 25vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .f3 {
    position: absolute;
    top: 12vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.f4{
    position: absolute;
    top: 25vh;
    margin-left: 52.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .f4 {
    position: absolute;
    top: 30vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.fb1{
    position: absolute;
    top: 55vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .fb1 {
    position: absolute;
    top: 48vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.zerosp{
    position: absolute;
    top: 55vh;
    margin-left: 52.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .zerosp {
    position: absolute;
    top: 66vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.black-rectangle2{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:85vh;
    margin-left: 10vw;
    width: 62px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle2{
    width: 54px;
    height: 27px;
    top: 85vh;
    margin-left: 2.550rem;
    }

}

.white-text-9 {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

.line-1{
  position: relative; /* 相対位置指定 */
    bottom: -88.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 1150px black;
}

@media (max-width: 844px) {
   .line-1 {
    position: relative;
    bottom: -87.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 700px black;
    }
}

.c305{
    position: absolute;
    margin-left: 14vw;
    top: 90vh;

}
@media (max-width: 844px) {
   .c305 {
   position: absolute;
    margin-left: 18vw;
    top: 90vh
    }
}

.di20053 {
    position: absolute;
    margin-left: 16.3vw;
    top: 94vh;
}

.di20053 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20053 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20053 {
   position: absolute;
    margin-left: 18vw;
    top: 93vh;
    }
    .di20053 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20053 span:not(:first-child):not(:last-child) {
    margin-right: 22px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.d305{
    position: absolute;
    margin-left: 14vw;
    top: 99vh;
}

@media (max-width: 844px) {
   .d305 {
   position: absolute;
    margin-left: 18vw;
    top: 97vh
    }
}

.di20048{
    position: absolute;
    margin-left: 16.3vw;
    top: 103vh;
}

.di20048 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20048 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20048 {
   position: absolute;
    margin-left: 18vw;
    top: 100vh;
    }
    .di20048 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20048 span:not(:first-child):not(:last-child) {
    margin-right: 22px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20022{
    position: absolute;
    margin-left: 16.3vw;
    top: 107vh;
}

.di20022 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20022 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20022 {
   position: absolute;
    margin-left: 18vw;
    top: 103vh;
    }
    .di20022 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20022 span:not(:first-child):not(:last-child) {
    margin-right: 11px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.c306{
   position: absolute;
   margin-left: 14vw;
   top: 112vh;
}

@media (max-width: 844px) {
   .c306 {
   position: absolute;
    margin-left: 18vw;
    top: 107vh
    }
}

.di20021{
    position: absolute;
    margin-left: 16.3vw;
    top: 116vh;
}

.di20021 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20021 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20021 {
   position: absolute;
    margin-left: 18vw;
    top: 110vh;
    }
    .di20021 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20021 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20015{
    position: absolute;
    margin-left: 16.3vw;
    top: 120vh;
}

.di20015 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20015 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20015 {
   position: absolute;
    margin-left: 18vw;
    top: 113vh;
    }
    .di20015 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20015 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20072{
    position: absolute;
    margin-left: 16.3vw;
    top: 124vh;
}

.di20072 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20072 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20072 {
   position: absolute;
    margin-left: 18vw;
    top: 116vh;
    }
    .di20072 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20072 span:not(:first-child):not(:last-child) {
    margin-right: 11px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a307{
   position: absolute;
   margin-left: 14vw;
   top: 129vh;
}

@media (max-width: 844px) {
   .a307 {
   position: absolute;
    margin-left: 18vw;
    top: 120vh
    }
}

.di20020{
    position: absolute;
    margin-left: 16.3vw;
    top: 133vh;
}

.di20020 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20020 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20020 {
   position: absolute;
    margin-left: 18vw;
    top: 123vh;
    }
    .di20020 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20020 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20055{
    position: absolute;
    margin-left: 16.3vw;
    top: 137vh;
}

.di20055 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20055 span:not(:first-child):not(:last-child) {
    margin-right: 20px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20055 {
   position: absolute;
    margin-left: 18vw;
    top: 126vh;
    }
    .di20055 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20055 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a309{
   position: absolute;
   margin-left: 14vw;
   top: 142vh;
}
@media (max-width: 844px) {
   .a309 {
   position: absolute;
    margin-left: 18vw;
    top: 129vh
    }
}

.di20075{
    position: absolute;
    margin-left: 16.3vw;
    top: 146vh;
}

.di20075 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20075 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20075 {
   position: absolute;
    margin-left: 18vw;
    top: 132vh;
    }
    .di20075 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20075 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20010{
    position: absolute;
    margin-left: 16.3vw;
    top: 150vh;
}

.di20010 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20010 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20010 {
   position: absolute;
    margin-left: 18vw;
    top: 135vh;
    }
    .di20010 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20010 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di18047{
     position: absolute;
    margin-left: 16.3vw;
    top: 154vh;
}
.di18047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di18047 span:not(:first-child):not(:last-child) {
    margin-right: 10px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di18047 {
   position: absolute;
    margin-left: 18vw;
    top: 138vh;
    }
    .di18047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di18047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20057{
     position: absolute;
    margin-left: 16.3vw;
    top: 158vh;
}
.di20057 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20057 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20057 {
   position: absolute;
    margin-left: 18vw;
    top: 141vh;
    }
    .di20057 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20057 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20047{
     position: absolute;
    margin-left: 16.3vw;
    top: 162vh;
}
.di20047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20047 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20047 {
   position: absolute;
    margin-left: 18vw;
    top: 147vh;
    }
    .di20047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19047{
     position: absolute;
    margin-left: 16.3vw;
    top: 166vh;
}
.di19047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19047 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19047 {
   position: absolute;
    margin-left: 18vw;
    top: 150vh;
    }
    .di19047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20024{
     position: absolute;
    margin-left: 16.3vw;
    top: 170vh;
}
.di20024 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20024 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20024 {
   position: absolute;
    margin-left: 18vw;
    top: 153vh;
    }
    .di20024 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20024 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20056{
     position: absolute;
    margin-left: 16.3vw;
    top: 174vh;
}
.di20056 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20056 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20056 {
   position: absolute;
    margin-left: 18vw;
    top: 156vh;
    }
    .di20056 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20056 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20076{
     position: absolute;
    margin-left: 16.3vw;
    top: 178vh;
}
.di20076 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20076 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20076 {
   position: absolute;
    margin-left: 18vw;
    top: 159vh;
    }
    .di20076 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20076 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di17061{
     position: absolute;
    margin-left: 16.3vw;
    top: 182vh;
}
.di17061 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di17061 span:not(:first-child):not(:last-child) {
    margin-right: 10px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di17061 {
   position: absolute;
    margin-left: 18vw;
    top: 162vh;
    }
    .di17061 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di17061 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.ev3{
   position: absolute;
   margin-left: 14vw;
   top: 187vh;
}
@media (max-width: 844px) {
   .ev3 {
   position: absolute;
    margin-left: 18vw;
    top: 166vh
    }
}













































