body {
   margin: 0;
   padding: 0;
}
/* font-sizeのレスポンシブ設定---------------------------------------------------------- */
@media screen and (min-width : 1025px) {

　.d_p_sub {
        font-size: 20px;
    }
}

@media screen and (max-width : 1024px) {
   .d_p_sub {
    font-size: 12px;
 }
}



.background1 {
    position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */

    
    background-image: url('../assets/images/grade1.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

.background2 {
    position: relative;
    width: 100%;
    height: 830vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/haikei2.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .background2 {
        height: 650vh;
        background-image: url('../assets/images/sumaho-haikei.png'); /* スマートフォン用の背景画像 */
    }
    
}

.footer_img{
 position: relative;
    width: 100%;
    height: 100vh; /* 画面の高さの倍数に調整 */
    
    
    background-image: url('../assets/images/foot.png'); 
    background-size: cover; /* 画像を要素に合わせてカバーする */
    background-position: center; /* 画像を要素の中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .footer_img {
        height: 70vh;
         background-size: 100%;
          background-repeat: no-repeat;
        background-image: url('../assets/images/m_foot.png'); /* スマートフォン用の背景画像 */
    }
    
}

.insta{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 940vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .insta {
        top: 755vh;
        left: 6vh;
        width: 6%;
    }
    
}

.twitter{
    width: 2%;
    position: absolute; /* 位置の指定に必要 */
    top: 940vh;
    left: 22vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .twitter {
        top: 755vh;
        left: 10vh;
        width: 6%;
    }
    
}


.mauhp{
    width: 13%;
    position: absolute; /* 位置の指定に必要 */
    top: 950vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .mauhp {
        top: 763vh;
        left: 6vh;
        width: 33%;
    }
    
}


.dejohp{
    width: 15%;
    position: absolute; /* 位置の指定に必要 */
    top: 955vh;
    left: 16vh;
}

@media (max-width: 844px) {
    /* スマートフォン画面において適用されるスタイル */
    .dejohp {
        top: 766vh;
        left: 6vh;
        width: 38%;
    }
    
}

.title_all_works{
    position: relative;
    padding-bottom: 1px;
    padding-top: 50vh;
    margin-left: 10.5vw;
    border-bottom:solid 6px black;
    width: 400px;
}

@media (max-width: 844px) {

   .title_all_works {
     padding-top: 12.375rem;
     margin-left: 2.550rem;
     width: 200px;
    }
}

.mapall{
    position: absolute;
    width: 50%;
    top: 20vh;
    margin-left: 43vw;
}

@media (max-width: 844px) {

   .mapall {
     width: 80%;
    top: 45vh;
    margin-left: 2.550rem;
    }
}

/* 9号館 */

.black-rectangle {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:16vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle {
     width: 350px;
     height: 35px;
    top: 5vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.f3{
    position: absolute;
    top: 25vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .f3 {
    position: absolute;
    top: 12vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.f4{
    position: absolute;
    top: 25vh;
    margin-left: 52.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .f4 {
    position: absolute;
    top: 30vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.fb1{
    position: absolute;
    top: 55vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .fb1 {
    position: absolute;
    top: 48vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}

.zerosp{
    position: absolute;
    top: 55vh;
    margin-left: 52.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .zerosp {
    position: absolute;
    top: 66vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}


/* 3階開始 */

.black-rectangle2{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:85vh;
    margin-left: 10vw;
    width: 62px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle2{
    width: 54px;
    height: 27px;
    top: 85vh;
    margin-left: 2.550rem;
    }

}

.white-text-3 {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

.line-1{
  position: relative; /* 相対位置指定 */
    bottom: -88.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 1180px black;
}

@media (max-width: 844px) {
   .line-1 {
    position: relative;
    bottom: -87.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 800px black;
    }
}

.c305{
    position: absolute;
    margin-left: 14vw;
    top: 90vh;

}
@media (max-width: 844px) {
   .c305 {
   position: absolute;
    margin-left: 18vw;
    top: 90vh
    }
}

.di20053 {
    position: absolute;
    margin-left: 16.3vw;
    top: 94vh;
}

.di20053 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20053 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20053 {
   position: absolute;
    margin-left: 18vw;
    top: 93vh;
    }
    .di20053 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20053 span:not(:first-child):not(:last-child) {
    margin-right: 22px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.d305{
    position: absolute;
    margin-left: 14vw;
    top: 99vh;
}

@media (max-width: 844px) {
   .d305 {
   position: absolute;
    margin-left: 18vw;
    top: 97vh
    }
}

.di20048{
    position: absolute;
    margin-left: 16.3vw;
    top: 103vh;
}

.di20048 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20048 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20048 {
   position: absolute;
    margin-left: 18vw;
    top: 100vh;
    }
    .di20048 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20048 span:not(:first-child):not(:last-child) {
    margin-right: 22px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20022{
    position: absolute;
    margin-left: 16.3vw;
    top: 107vh;
}

.di20022 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20022 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20022 {
   position: absolute;
    margin-left: 18vw;
    top: 103vh;
    }
    .di20022 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20022 span:not(:first-child):not(:last-child) {
    margin-right: 11px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.c306{
   position: absolute;
   margin-left: 14vw;
   top: 112vh;
}

@media (max-width: 844px) {
   .c306 {
   position: absolute;
    margin-left: 18vw;
    top: 107vh
    }
}

.di20021{
    position: absolute;
    margin-left: 16.3vw;
    top: 116vh;
}

.di20021 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20021 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20021 {
   position: absolute;
    margin-left: 18vw;
    top: 110vh;
    }
    .di20021 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20021 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20015{
    position: absolute;
    margin-left: 16.3vw;
    top: 120vh;
}

.di20015 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20015 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20015 {
   position: absolute;
    margin-left: 18vw;
    top: 113vh;
    }
    .di20015 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20015 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20072{
    position: absolute;
    margin-left: 16.3vw;
    top: 124vh;
}

.di20072 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20072 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20072 {
   position: absolute;
    margin-left: 18vw;
    top: 116vh;
    }
    .di20072 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20072 span:not(:first-child):not(:last-child) {
    margin-right: 11px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a307{
   position: absolute;
   margin-left: 14vw;
   top: 129vh;
}

@media (max-width: 844px) {
   .a307 {
   position: absolute;
    margin-left: 18vw;
    top: 120vh
    }
}

.di20020{
    position: absolute;
    margin-left: 16.3vw;
    top: 133vh;
}

.di20020 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20020 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20020 {
   position: absolute;
    margin-left: 18vw;
    top: 123vh;
    }
    .di20020 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20020 span:not(:first-child):not(:last-child) {
    margin-right: 0px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20055{
    position: absolute;
    margin-left: 16.3vw;
    top: 137vh;
}

.di20055 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20055 span:not(:first-child):not(:last-child) {
    margin-right: 20px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20055 {
   position: absolute;
    margin-left: 18vw;
    top: 126vh;
    }
    .di20055 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20055 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a309{
   position: absolute;
   margin-left: 14vw;
   top: 142vh;
}
@media (max-width: 844px) {
   .a309 {
   position: absolute;
    margin-left: 18vw;
    top: 129vh
    }
}

.di20075{
    position: absolute;
    margin-left: 16.3vw;
    top: 146vh;
}

.di20075 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20075 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20075 {
   position: absolute;
    margin-left: 18vw;
    top: 132vh;
    }
    .di20075 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20075 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20010{
    position: absolute;
    margin-left: 16.3vw;
    top: 150vh;
}

.di20010 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20010 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20010 {
   position: absolute;
    margin-left: 18vw;
    top: 135vh;
    }
    .di20010 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20010 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di18047{
     position: absolute;
    margin-left: 16.3vw;
    top: 154vh;
}
.di18047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di18047 span:not(:first-child):not(:last-child) {
    margin-right: 10px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di18047 {
   position: absolute;
    margin-left: 18vw;
    top: 138vh;
    }
    .di18047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di18047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20057{
     position: absolute;
    margin-left: 16.3vw;
    top: 158vh;
}
.di20057 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20057 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20057 {
   position: absolute;
    margin-left: 18vw;
    top: 141vh;
    }
    .di20057 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20057 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20047{
     position: absolute;
    margin-left: 16.3vw;
    top: 162vh;
}
.di20047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20047 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20047 {
   position: absolute;
    margin-left: 18vw;
    top: 147vh;
    }
    .di20047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19047{
     position: absolute;
    margin-left: 16.3vw;
    top: 166vh;
}
.di19047 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19047 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19047 {
   position: absolute;
    margin-left: 18vw;
    top: 150vh;
    }
    .di19047 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19047 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20024{
     position: absolute;
    margin-left: 16.3vw;
    top: 170vh;
}
.di20024 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20024 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20024 {
   position: absolute;
    margin-left: 18vw;
    top: 153vh;
    }
    .di20024 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20024 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20056{
     position: absolute;
    margin-left: 16.3vw;
    top: 174vh;
}
.di20056 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20056 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20056 {
   position: absolute;
    margin-left: 18vw;
    top: 156vh;
    }
    .di20056 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20056 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20076{
     position: absolute;
    margin-left: 16.3vw;
    top: 178vh;
}
.di20076 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20076 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20076 {
   position: absolute;
    margin-left: 18vw;
    top: 159vh;
    }
    .di20076 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20076 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di17061{
     position: absolute;
    margin-left: 16.3vw;
    top: 182vh;
}
.di17061 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di17061 span:not(:first-child):not(:last-child) {
    margin-right: 10px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di17061 {
   position: absolute;
    margin-left: 18vw;
    top: 162vh;
    }
    .di17061 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di17061 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}


.ev3{
   position: absolute;
   margin-left: 14vw;
   top: 187vh;
}
@media (max-width: 844px) {
   .ev3 {
   position: absolute;
    margin-left: 18vw;
    top: 166vh
    }
}

.di20038{
     position: absolute;
    margin-left: 16.3vw;
    top: 191vh;
}
.di20038 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20038 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20038 {
   position: absolute;
    margin-left: 18vw;
    top: 169vh;
    }
    .di20038 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20038 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20049{
     position: absolute;
    margin-left: 16.3vw;
    top: 195vh;
}
.di20049 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20049 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20049 {
   position: absolute;
    margin-left: 18vw;
    top: 172vh;
    }
    .di20049 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20049 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}


/* 4階開始 */

.black-rectangle3{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:205vh;
    margin-left: 10vw;
    width: 62px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle3{
    width: 54px;
    height: 27px;
    top: 177vh;
    margin-left: 2.550rem;
    }

}


.line-2{
  position: relative; /* 相対位置指定 */
    bottom: -98.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 1590px black;
}

@media (max-width: 844px) {
   .line-2 {
    position: relative;
    bottom: -93.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 1060px black;
    }
}

.a402{
   position: absolute;
   margin-left: 14vw;
   top: 210vh;
}
@media (max-width: 844px) {
   .a402 {
   position: absolute;
    margin-left: 18vw;
    top: 181vh
    }
}

.di20011{
     position: absolute;
    margin-left: 16.3vw;
    top: 214vh;
}
.di20011 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20011 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20011 {
   position: absolute;
    margin-left: 18vw;
    top: 184vh;
    }
    .di20011 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20011 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20050{
     position: absolute;
    margin-left: 16.3vw;
    top: 218vh;
}
.di20050 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20050 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20050 {
   position: absolute;
    margin-left: 18vw;
    top: 187vh;
    }
    .di20050 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20050 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a403{
   position: absolute;
   margin-left: 14vw;
   top: 223vh;
}
@media (max-width: 844px) {
   .a403 {
   position: absolute;
    margin-left: 18vw;
    top: 191vh
    }
}

.di20054{
     position: absolute;
    margin-left: 16.3vw;
    top: 228vh;
}
.di20054 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20054 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20054 {
   position: absolute;
    margin-left: 18vw;
    top: 194vh;
    }
    .di20054 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20054 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20052{
     position: absolute;
    margin-left: 16.3vw;
    top: 232vh;
}
.di20052 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20052 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20052 {
   position: absolute;
    margin-left: 18vw;
    top: 200vh;
    }
    .di20052 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20052 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a404{
   position: absolute;
   margin-left: 14vw;
   top: 237vh;
}
@media (max-width: 844px) {
   .a404 {
   position: absolute;
    margin-left: 18vw;
    top: 204vh
    }
}

.di20008{
     position: absolute;
    margin-left: 16.3vw;
    top: 241vh;
}
.di20008 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20008 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20008 {
   position: absolute;
    margin-left: 18vw;
    top: 207vh;
    }
    .di20008 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20008 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a405{
   position: absolute;
   margin-left: 14vw;
   top: 246vh;
}
@media (max-width: 844px) {
   .a405 {
   position: absolute;
    margin-left: 18vw;
    top: 211vh
    }
}

.di20067{
     position: absolute;
    margin-left: 16.3vw;
    top: 251vh;
}
.di20067 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20067 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20067 {
   position: absolute;
    margin-left: 18vw;
    top: 214vh;
    }
    .di20067 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20067 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a409{
   position: absolute;
   margin-left: 14vw;
   top: 256vh;
}
@media (max-width: 844px) {
   .a409 {
   position: absolute;
    margin-left: 18vw;
    top: 219vh
    }
}

.di20003{
     position: absolute;
    margin-left: 16.3vw;
    top: 260vh;
}
.di20003 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20003 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20003 {
   position: absolute;
    margin-left: 18vw;
    top: 222vh;
    }
    .di20003 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20003 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20039{
     position: absolute;
    margin-left: 16.3vw;
    top: 264vh;
}
.di20039 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20039 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20039 {
   position: absolute;
    margin-left: 18vw;
    top: 225vh;
    }
    .di20039 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20039 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20070{
     position: absolute;
    margin-left: 16.3vw;
    top: 268vh;
}
.di20070 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20070 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20070 {
   position: absolute;
    margin-left: 18vw;
    top: 228vh;
    }
    .di20070 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20070 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19055{
     position: absolute;
    margin-left: 16.3vw;
    top: 272vh;
}
.di19055 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19055 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19055 {
   position: absolute;
    margin-left: 18vw;
    top: 231vh;
    }
    .di19055 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19055 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20026{
     position: absolute;
    margin-left: 16.3vw;
    top: 276vh;
}
.di20026 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20026 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20026 {
   position: absolute;
    margin-left: 18vw;
    top: 234vh;
    }
    .di20026 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20026 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di18054{
     position: absolute;
    margin-left: 16.3vw;
    top: 280vh;
}
.di18054 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di18054 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di18054 {
   position: absolute;
    margin-left: 18vw;
    top: 237vh;
    }
    .di18054 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di18054 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20032{
     position: absolute;
    margin-left: 16.3vw;
    top: 284vh;
}
.di20032 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20032 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20032 {
   position: absolute;
    margin-left: 18vw;
    top: 240vh;
    }
    .di20032 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20032 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20040{
     position: absolute;
    margin-left: 16.3vw;
    top: 288vh;
}
.di20040 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20040 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20040 {
   position: absolute;
    margin-left: 18vw;
    top: 243vh;
    }
    .di20040 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20040 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20077{
     position: absolute;
    margin-left: 16.3vw;
    top: 292vh;
}
.di20077 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20077 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20077 {
   position: absolute;
    margin-left: 18vw;
    top: 246vh;
    }
    .di20077 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20077 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20034{
     position: absolute;
    margin-left: 16.3vw;
    top: 296vh;
}
.di20034 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20034 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20034 {
   position: absolute;
    margin-left: 18vw;
    top: 249vh;
    }
    .di20034 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20034 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.ev4{
   position: absolute;
   margin-left: 14vw;
   top: 301vh;
}
@media (max-width: 844px) {
   .ev4 {
   position: absolute;
    margin-left: 18vw;
    top: 253vh
    }
}

.di20002{
     position: absolute;
    margin-left: 16.3vw;
    top: 305vh;
}
.di20002 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20002 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20002 {
   position: absolute;
    margin-left: 18vw;
    top: 256vh;
    }
    .di20002 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20002 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di21551{
     position: absolute;
    margin-left: 16.3vw;
    top: 309vh;
}
.di21551 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di21551 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di21551 {
   position: absolute;
    margin-left: 18vw;
    top: 259vh;
    }
    .di21551 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di21551 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19019{
     position: absolute;
    margin-left: 16.3vw;
    top: 313vh;
}
.di19019 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19019 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19019 {
   position: absolute;
    margin-left: 18vw;
    top: 262vh;
    }
    .di19019 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19019 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.a415{
   position: absolute;
   margin-left: 14vw;
   top: 318vh;
}
@media (max-width: 844px) {
   .a415 {
   position: absolute;
    margin-left: 18vw;
    top: 266vh
    }
}

.di21552{
     position: absolute;
    margin-left: 16.3vw;
    top: 322vh;
}
.di21552 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di21552 span:not(:first-child):not(:last-child) {
    margin-right: 10px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di21552 {
   position: absolute;
    margin-left: 18vw;
    top: 269vh;
    }
    .di21552 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di21552 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20031{
     position: absolute;
    margin-left: 16.3vw;
    top: 326vh;
}
.di20031 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20031 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20031 {
   position: absolute;
    margin-left: 18vw;
    top: 272vh;
    }
    .di20031 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20031 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20017{
     position: absolute;
    margin-left: 16.3vw;
    top: 330vh;
}
.di20017 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20017 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20017 {
   position: absolute;
    margin-left: 18vw;
    top: 275vh;
    }
    .di20017 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20017 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20019{
     position: absolute;
    margin-left: 16.3vw;
    top: 334vh;
}
.di20019 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20019 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20019 {
   position: absolute;
    margin-left: 18vw;
    top: 278vh;
    }
    .di20019 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20019 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20009{
     position: absolute;
    margin-left: 16.3vw;
    top: 338vh;
}
.di20009 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20009 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20009 {
   position: absolute;
    margin-left: 18vw;
    top: 281vh;
    }
    .di20009 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20009 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19070{
     position: absolute;
    margin-left: 16.3vw;
    top: 342vh;
}
.di19070 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19070 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19070 {
   position: absolute;
    margin-left: 18vw;
    top: 284vh;
    }
    .di19070 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19070 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20074{
     position: absolute;
    margin-left: 16.3vw;
    top: 346vh;
}
.di20074 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20074 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20074 {
   position: absolute;
    margin-left: 18vw;
    top: 287vh;
    }
    .di20074 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20074 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20041{
     position: absolute;
    margin-left: 16.3vw;
    top: 350vh;
}
.di20041 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20041 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20041 {
   position: absolute;
    margin-left: 18vw;
    top: 290vh;
    }
    .di20041 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20041 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

/*zero space*/

.black-rectangle4{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:360vh;
    margin-left: 10vw;
    width: 170px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle4{
    width: 110px;
    height: 27px;
    top: 295vh;
    margin-left: 2.550rem;
    }

}


.line-3{
  position: relative; /* 相対位置指定 */
    bottom: -106.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 80px black;
}

@media (max-width: 844px) {
   .line-3 {
    position: relative;
    bottom: -97.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 50px black;
    }
}

.di20012{
     position: absolute;
    margin-left: 16.3vw;
    top: 365vh;
}
.di20012 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20012 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20012 {
   position: absolute;
    margin-left: 18vw;
    top: 299vh;
    }
    .di20012 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20012 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

/*b1 space*/

.black-rectangle5{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:375vh;
    margin-left: 10vw;
    width: 170px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle5{
    width: 110px;
    height: 27px;
    top: 304vh;
    margin-left: 2.550rem;
    }

}


.line-4{
  position: relative; /* 相対位置指定 */
    bottom: -114.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 150px black;
}

@media (max-width: 844px) {
   .line-4 {
    position: relative;
    bottom: -101.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 90px black;
    }
}

.di20033{
     position: absolute;
    margin-left: 16.3vw;
    top: 380vh;
}
.di20033 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20033 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20033 {
   position: absolute;
    margin-left: 18vw;
    top: 308vh;
    }
    .di20033 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20033 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20078{
     position: absolute;
    margin-left: 16.3vw;
    top: 384vh;
}
.di20078 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20078 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20078 {
   position: absolute;
    margin-left: 18vw;
    top: 311vh;
    }
    .di20078 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20078 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20023{
     position: absolute;
    margin-left: 16.3vw;
    top: 388vh;
}
.di20023 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20023 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20023 {
   position: absolute;
    margin-left: 18vw;
    top: 314vh;
    }
    .di20023 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20023 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}


/* 12 */
.black-rectangle6 {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:398vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle6 {
     width: 350px;
     height: 35px;
    top: 320vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.a12{
    position: absolute;
    top: 407vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .a12 {
    position: absolute;
    top: 327vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}


.black-rectangle7{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:450vh;
    margin-left: 10vw;
    width: 170px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle7{
    width: 110px;
    height: 27px;
    top: 352vh;
    margin-left: 2.550rem;
    }

}

.line-5{
  position: relative; /* 相対位置指定 */
    bottom: -175.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 380px black;
}

@media (max-width: 844px) {
   .line-5 {
    position: relative;
    bottom: -139.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 240px black;
    }
}

.di20079{
     position: absolute;
    margin-left: 16.3vw;
    top: 455vh;
}
.di20079 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20079 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20079 {
   position: absolute;
    margin-left: 18vw;
    top: 356vh;
    }
    .di20079 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20079 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19015{
     position: absolute;
    margin-left: 16.3vw;
    top: 459vh;
}
.di19015 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19015 span:not(:first-child):not(:last-child) {
    margin-right:55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19015 {
   position: absolute;
    margin-left: 18vw;
    top: 359vh;
    }
    .di19015 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19015 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20025{
     position: absolute;
    margin-left: 16.3vw;
    top: 463vh;
}
.di20025 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20025 span:not(:first-child):not(:last-child) {
    margin-right: 75px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20025 {
   position: absolute;
    margin-left: 18vw;
    top: 362vh;
    }
    .di20025 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20025 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20037{
     position: absolute;
    margin-left: 16.3vw;
    top: 467vh;
}
.di20037 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20037 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20037 {
   position: absolute;
    margin-left: 18vw;
    top: 365vh;
    }
    .di20037 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20037 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20073{
     position: absolute;
    margin-left: 16.3vw;
    top: 471vh;
}
.di20073 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20073 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20073 {
   position: absolute;
    margin-left: 18vw;
    top: 368vh;
    }
    .di20073 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20073 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di19011{
     position: absolute;
    margin-left: 16.3vw;
    top: 475vh;
}
.di19011 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di19011 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di19011 {
   position: absolute;
    margin-left: 18vw;
    top: 371vh;
    }
    .di19011 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di19011 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20081{
     position: absolute;
    margin-left: 16.3vw;
    top: 479vh;
}
.di20081 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20081 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20081 {
   position: absolute;
    margin-left: 18vw;
    top: 374vh;
    }
    .di20081 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20081 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20030{
     position: absolute;
    margin-left: 16.3vw;
    top: 483vh;
}
.di20030 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20030 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20030 {
   position: absolute;
    margin-left: 18vw;
    top: 377vh;
    }
    .di20030 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20030 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

/* 10 */
.black-rectangle8 {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:493vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle8 {
     width: 350px;
     height: 35px;
    top: 383vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.a10{
    position: absolute;
    top: 502vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .a10 {
    position: absolute;
    top: 390vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}


.black-rectangle9{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:545vh;
    margin-left: 10vw;
    width: 62px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle9{
    width: 54px;
    height: 27px;
    top: 415vh;
    margin-left: 2.550rem;
    }

}

.line-6{
  position: relative; /* 相対位置指定 */
    bottom: -235.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 200px black;
}

@media (max-width: 844px) {
   .line-6 {
    position: relative;
    bottom: -175.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 140px black;
    }
}

.di20028{
     position: absolute;
    margin-left: 16.3vw;
    top: 550vh;
}
.di20028 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20028 span:not(:first-child):not(:last-child) {
    margin-right: 15px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20028 {
   position: absolute;
    margin-left: 18vw;
    top: 419vh;
    }
    .di20028 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20028 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20006{
     position: absolute;
    margin-left: 16.3vw;
    top: 554vh;
}
.di20006 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20006 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20006 {
   position: absolute;
    margin-left: 18vw;
    top: 422vh;
    }
    .di20006 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20006 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20013{
     position: absolute;
    margin-left: 16.3vw;
    top: 558vh;
}
.di20013 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20013 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20013 {
   position: absolute;
    margin-left: 18vw;
    top: 425vh;
    }
    .di20013 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20013 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20060{
     position: absolute;
    margin-left: 16.3vw;
    top: 562vh;
}
.di20060 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20060 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20060 {
   position: absolute;
    margin-left: 18vw;
    top: 428vh;
    }
    .di20060 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20060 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.black-rectangle10{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:572vh;
    margin-left: 10vw;
    width: 62px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle10{
    width: 54px;
    height: 27px;
    top: 433vh;
    margin-left: 2.550rem;
    }

}

.line-7{
  position: relative; /* 相対位置指定 */
    bottom: -243.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 150px black;
}

@media (max-width: 844px) {
   .line-7 {
    position: relative;
    bottom: -180.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 90px black;
    }
}

.di20001{
     position: absolute;
    margin-left: 16.3vw;
    top: 577vh;
}
.di20001 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20001 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20001 {
   position: absolute;
    margin-left: 18vw;
    top: 437vh;
    }
    .di20001 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20001 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20007{
     position: absolute;
    margin-left: 16.3vw;
    top: 581vh;
}
.di20007 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20007 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20007 {
   position: absolute;
    margin-left: 18vw;
    top: 440vh;
    }
    .di20007 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20007 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20064{
     position: absolute;
    margin-left: 16.3vw;
    top: 585vh;
}
.di20064 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20064 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20064 {
   position: absolute;
    margin-left: 18vw;
    top: 443vh;
    }
    .di20064 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20064 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.black-rectangle11{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:595vh;
    margin-left: 10vw;
    width: 80px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle11{
    width: 63px;
    height: 27px;
    top: 448vh;
    margin-left: 2.550rem;
    }

}

.line-8{
  position: relative; /* 相対位置指定 */
    bottom: -252.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 80px black;
}

@media (max-width: 844px) {
   .line-8 {
    position: relative;
    bottom: -185.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 40px black;
    }
}

.di20066{
     position: absolute;
    margin-left: 16.3vw;
    top: 600vh;
}
.di20066 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20066 span:not(:first-child):not(:last-child) {
    margin-right: 55px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20066 {
   position: absolute;
    margin-left: 18vw;
    top: 452vh;
    }
    .di20066 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20066 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

/* 2goukan */

.black-rectangle12 {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:610vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle12 {
     width: 350px;
     height: 35px;
    top: 458vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.a02{
    position: absolute;
    top: 619vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .a02 {
    position: absolute;
    top: 465vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}


.black-rectangle13{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:662vh;
    margin-left: 10vw;
    width: 100px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle13{
    width: 74px;
    height: 27px;
    top: 490vh;
    margin-left: 2.550rem;
    }

}

.line-9{
  position: relative; /* 相対位置指定 */
    bottom: -312.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 70px black;
}

@media (max-width: 844px) {
   .line-9 {
    position: relative;
    bottom: -223.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 40px black;
    }
}

.di20068{
     position: absolute;
    margin-left: 16.3vw;
    top: 667vh;
}
.di20068 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20068 span:not(:first-child):not(:last-child) {
    margin-right: 85px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20068 {
   position: absolute;
    margin-left: 18vw;
    top: 494vh;
    }
    .di20068 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20068 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

/* 14goukan */

.black-rectangle14 {
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 8px; 
    padding-left: 20px;
    position: absolute;
    top:677vh;
    margin-left: 10vw;
    width: 584px;
    height: 51px;
}

@media (max-width: 844px) {

   .black-rectangle14 {
     width: 350px;
     height: 35px;
    top: 499vh;
    margin-left: 2.550rem;
    }
}

.white-text {
    color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
}

@media (max-width: 844px) {
   .white-text {
     color: #fff; /* 白い文字の色を設定 */
    margin: 0; /* マージンをリセット */
    }
}

.a14{
    position: absolute;
    top: 686vh;
    margin-left: 12.5vw;
    width: 38%;
}

@media (max-width: 844px) {
   .a14 {
    position: absolute;
    top: 506vh;
    width: 81%;
    margin-left: 2.550rem;
    }
}


.black-rectangle15{
    background-color: #000; /* 黒い長方形の背景色を設定 */
    padding: 5px; 
    padding-left: 20px;
    position: absolute;
    top:785vh;
    margin-left: 10vw;
    width: 170px;
    height: 39px;
}

@media (max-width: 844px) {
    .black-rectangle15{
    width: 110px;
    height: 27px;
    top: 615vh;
    margin-left: 2.550rem;
    }

}

.line-10{
  position: relative; /* 相対位置指定 */
    bottom: -428.5vh; /* ボーダーの位置を調整する値（任意の値） */
    width: 4px;
    margin-left: 11.5vw;
    border-bottom: solid 110px black;
}

@media (max-width: 844px) {
   .line-10 {
    position: relative;
    bottom: -343.5vh;
    width: 2px;
    margin-left: 15vw;
    border-bottom: solid 70px black;
    }
}

.di20058{
     position: absolute;
    margin-left: 16.3vw;
    top: 790vh;
}
.di20058 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20058 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20058 {
   position: absolute;
    margin-left: 18vw;
    top: 619vh;
    }
    .di20058 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20058 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}

.di20062{
     position: absolute;
    margin-left: 16.3vw;
    top: 794vh;
}
.di20062 span:not(:first-child) {
    margin-left: 10px; /* 2番目以降の単語の左側のマージン */
}

.di20062 span:not(:first-child):not(:last-child) {
    margin-right: 35px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
}

@media (max-width: 844px) {
   .di20062 {
   position: absolute;
    margin-left: 18vw;
    top: 622vh;
    }
    .di20062 span:not(:first-child) {
    margin-left: 5px; /* 2番目以降の単語の左側のマージン */
    }

.di20062 span:not(:first-child):not(:last-child) {
    margin-right: 1px; /* 田中瞳と立体花鳥朝夕昼夜図の間の右側のマージン */
    }

}


















